/* OBS: 1rem = 16px*/
*{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(245, 245, 245);
    border-radius: 0.5rem;
}


h1, h2, h3, h4, h5, h6, p{
    margin: 0% 0% 0.5% 0%;  /* O 0.5 refere-se ao distânciamento de um texto para outro texto */
    font-size: 1.5rem;
}


body{
    background-color: rgb(85, 85, 85);
    background-image: url("");
}


header{     /*Tamanho deve ser equivalente a uma página inteira --> Variação de tela de dispositivo p/ dispositivo --> Breaking Points p/ cada um*/
    margin: 0% 0% 2.5% 0%;
    background-color:rgb(25, 118, 210, 0.75);
    border: 0.375rem solid rgb(13, 71, 161, 0.75);
}


nav{
    display: inline;    
    margin: 0% 0% 1% 0%;
}


button{
    margin: 0% 5% 2.5% 5%;
    background-color:rgb(25, 118, 210, 0.75);
    border: 0.375rem solid rgb(13, 71, 161, 0.75);
    font-size: 1.25rem;
}


.series{    /*Refere-se às séries das turmas (9°, 1° e 2°)*/
    margin: 0% 0% 1% 0%;
}


table{
    display: inline-table;
    background-color:rgb(25, 118, 210, 0.625);
    border: 0.375rem solid rgb(13, 71, 161, 0.625);
    width: 100%;
    margin: 0% 0% 5% 0%;
}


tr, td{
    font-size: 0.75rem;
    border: 2px solid rgb(13, 71, 161, 0.625);
}


.titulo{    /*Tamanho da célula da tabela*/
    width: 85%;
}


.legenda{
    font-size: 0.75rem;
}

